@media screen and (max-width: 768px) {
    .compound {
        &__components {
            &_item {
                &__name {
                    font-size: 12px;
                }
                &__img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}