@media screen and (max-width: 768px) {
    .order {
        height: 800px;
        & .wrapper {
            justify-content: flex-start;
        }
        &__title {
            height: 30px;
            margin: 20px 0;
        }
        &__information {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            &_product {
                margin: 20px 0;
                &_img {
                    margin-bottom: 20px;
                    height: 200px;
                }
            }
            &_form {
                height: 90%;
                width: 60%;
                &__title {
                    font-size: 20px;
                    width: 80%;
                    margin-bottom: 20px;
                }
                & input {
                    @include Body;
                    outline: none;
                    border: 1px solid $color-LightPurple;
                    border-radius: 10px;
                    margin-bottom: 20px;
                    width: 60%;
                    height: 30px;
                    padding: 0 20px;
                    box-sizing: border-box;
                    font-size: 12px;
                }
                &__btn {
                    width: 60%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}