@font-face {
    font-family: "Montserrat-Bold";
    src: url('../../assets/fonts/Montserrat-Bold.woff2'), url('../assets/fonts/Montserrat-Bold.woff'), url('../assets/fonts/Montserrat-Bold.ttf')
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url('../../assets/fonts/Montserrat-Regular.woff2'), url('../assets/fonts/Montserrat-Regular.woff'), url('../assets/fonts/Montserrat-Regular.ttf')
}