@import './varibles';
@import './fonts';
@import './mixins';
html {
    scroll-behavior: smooth;
}

* {
    margin: 0 auto;
}

.wrapper {
    width: 86%;
    margin: 0 auto;
}

.logo {
    display: flex;
    height: 100%;
    width: 190px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    color: $color-purple;
    &__icon {
        fill: $color-DarkYellow;
        width: 35px;
        height: 35px;
    }
    &__title {
        display: flex;
        align-items: flex-end;
        @include h2;
        font-size: 29px;
        & a {
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.active-button {
    opacity: 0.6;
    &:hover {
        background-color: $color-LightWhite;
        border-radius: 0px;
        opacity: 1;
    }
}

.inactive-button {
    opacity: 0.2;
}

@keyframes blur {
    from {
        text-shadow: 0px 0px 10px $color-white, 0px 0px 10px $color-white, 0px 0px 25px $color-white, 0px 0px 25px $color-white, 0px 0px 25px $color-white, 0px 0px 25px $color-white, 0px 0px 25px $color-white, 0px 0px 25px $color-white, 0px 0px 50px $color-white, 0px 0px 50px $color-white, 0px 0px 50px $color-LightYellow, 0px 0px 150px $color-LightYellow, 0px 10px 100px $color-LightYellow, 0px 10px 100px $color-LightYellow, 0px 10px 100px $color-LightYellow, 0px 10px 100px $color-LightYellow, 0px -10px 100px $color-LightYellow, 0px -10px 100px $color-LightYellow;
    }
}