$color-white: #fff;
$color-purple: rgba(164, 24, 181, 0.93);
$color-LightPurple: rgba(222, 64, 240, 0.93);
$color-DarkYellow: rgba(243, 230, 16, 0.93);
$color-yellow: rgba(249, 236, 20, 0.93);
$shadow-header: -1px 3px 8px 0px rgba(34, 60, 80, 0.2);
$button-radius: 22px;